page {
  height: 100%;
  font-size: 30rpx;
}

uni-page-body,
#app {
  height: 100%;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  color: transparent;
  -webkit-appearance: none;
  background: transparent;
}

button[plain] {
  border: 0;
}

button::after {
  border: none;
}

button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
}

button:active {
  opacity: 0.6;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
